---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Echose Athletic Club"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
<h5>チーム理念</h5>
	<p>
		Echoes Athletic Club(EAC)は、社会人・学生を問わず「頭はクールに、心はホットに」のスローガンを掲げ、自由な環境の中で各自が競技力向上を目指す陸上チームです。<br>
		私たちは、強制的なルールや上下関係に縛られるのではなく、互いの知見と経験を共有し合い、競技を楽しみながら成長していくことを大切にします。<br>
		個々の挑戦がチームの刺激となり、チームの発信が個々の力を押し上げる。EACは、そんな「循環するエネルギー=Echoes」を重視したチームです。
	</p>

<h5>練習方針</h5>
	<p>
		<li> 自由参加型:練習や大会参加は各自の裁量に任せられています。自分のライフスタイルや目標に合わせて活動可能です。</li>
		<li> 競技種目は問いません:トラック・フィールド・マラソンなど、どの種目も歓迎します。目指す舞台やレベルは人それぞれ。お互いの挑戦を尊重し合います。</li>
		<li> 合同練習の推奨:日程を共有しながら、可能な範囲で合同練習を行います。互いに刺激を与え合いながら、成長の機会をつくります。</li>
		<li>アウトプット重視:練習や大会での気づき、技術的な知見は積極的に共有します。特にDiscordを通じたディスカッションや情報交換を強く推奨しています。</li>
		<li> 外部交流:他チームとの合同練習、公認大会や講習会の開催を歓迎します。外の視点や知識を取り入れ、チームの成長につなげます。</li>
	</p><br>

<h5>求める人物像</h5>
	<p>
		EACは、誰もが自由に走りを追求できる環境を提供します。私たちが歓迎するのは次のような人たちです:
		<li>自律的に練習に取り組み、主体的に競技力向上を目指す人</li>
		<li>自分の経験や知見を共有し、仲間とともに成長したい人</li>
		<li>「競技を楽しむ」ことと「自己ベスト更新」を両立したい人</li>
		<li>トラックでもフィールドでもマラソンでも、「自分の挑戦」を大切にする人</li>
		<li>オープンな交流を大切にし、他チームや社会人ランナーとのつながりを広げたい人</li>
		<li>SNS発信やアウトプットを通じて、陸上の楽しさを広めたい人</li>
	</p>
</Layout>
