---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/global.css" />
		<title>{SITE_TITLE}</title>
	</head>
	<body>
		<Header />
		<main>
			<p>
				メンバーは常に募集中です。<br>
				興味ある方は各種SNSからご連絡をお願いいたします。
			<p>
			</p>
		</main>
		<Footer />
	</body>
</html>